In [2]:
import duckdb

conn = duckdb.connect("../rewards_db.duckdb")

In [3]:
barcode_counts = conn.sql(
    """
    select
        barcode,
        count(0) as count
    from
        core.brand
    group by
        1
    having
        count > 1
    """
).df()
display(barcode_counts)

        barcode  count
0  511111504788      2
1  511111605058      2
2  511111004790      2
3  511111704140      2
4  511111504139      2
5  511111305125      2
6  511111204923      2