In [2]:
import duckdb

conn = duckdb.connect("../rewards_dbt/rewards_db.duckdb")

Using the programming language of your choice (SQL, Python, R, Bash, etc...) identify as many data quality issues as you can. We are not expecting a full blown review of all the data provided, but instead want to know how you explore and evaluate data of questionable provenance.

In [7]:
core_brands_df = conn.sql(
    """
    select
        barcode,
        count(0) as count
    from
        core.brands
    group by
        1
    having
        count > 1
    """
).df()
display(core_brands_df)

        barcode  count
0  511111004790      2
1  511111704140      2
2  511111504788      2
3  511111605058      2
4  511111504139      2
5  511111305125      2
6  511111204923      2

In [8]:
temp = conn.sql(
    """
    select
        *
    from
        core.brands
    where
        barcode = 511111004790
    """
).df()
display(temp)

,id,barcode,brand_code,category,category_code,cpg_ref,cpg_id,name,is_top_brand
0,5c409ab4cd244a3539b84162,511111004790,ALEXA,baking,None,Cogs,55b62995e4b0d8e685c14213,alexa,True
1,5cdacd63166eb33eb7ce0fa8,511111004790,BITTEN,condiments & sauces,None,Cogs,559c2234e4b06aca36af13c6,Bitten Dressing,NaN