In [13]:
import duckdb

conn = duckdb.connect("../rewards.db")

In [14]:
# Find where a barcode exists in > 1 row
barcode_counts = conn.sql(
    """
    select
        barcode,
        count(0) as count
    from
        core.brand
    group by
        1
    having
        count > 1
    """
).df()
display(barcode_counts)

        barcode  count
0  511111305125      2
1  511111204923      2
2  511111504788      2
3  511111605058      2
4  511111004790      2
5  511111704140      2
6  511111504139      2

In [18]:
# Find receipts that do not have a valid user_id.

unknown_receipt_user = conn.sql(
    """
    select
        rec.receipt_id,
        user.user_id
    from
        core.receipt as rec
        left join core.user
        using(user_id)
    where
        user.user_id is null
    """
).df()
display(unknown_receipt_user)

                   receipt_id user_id
0    5f9c74f70a7214ad07000037    None
1    5ff1e1e90a7214ada1000569    None
2    5ff1e1df0a7214ada1000564    None
3    5f9c74f90a7214ad07000038    None
4    5ff1e1960a720f0523000567    None
..                        ...     ...
143  602538740a7214d8e9000246    None
144  602538920a720f05a8000216    None
145  602538960a720f05a800021b    None
146  60268c7e0a7214d8e9000309    None
147  60268c790a7214d8e9000306    None

[148 rows x 2 columns]